<% if @payment_category.errors.any? %>
  <%= turbo_stream.replace("payment_category_form") do %>
    <div class="flex flex-col gap-6">
      <h1 class="text-xl font-bold">
        Nova Categoria
      </h1>

      <%= require "pry"; binding.pry %>
      <%= render partial: "form", locals: { payment_category: @payment_category } %>
    </div>
  <% end %>
<% else %>
  <%= require "pry"; binding.pry %>
  <%= turbo_stream.append "payment_categories" do %>
    <%= render partial: "payment_category", locals: { payment_category: @payment_category } %>
  <% end %>
<% end %>